
*.exe
*.info
*.dll
*.config
7DaysToDieServer_Data/globalgamemanagers
*.assets
7DaysToDieServer_Data/level0
*.txt
*.resS
*.resource
7DaysToDieServer_Data/Resources/unity default resources
Data/7dtd_icon.ico
*.tga
Data/Bundles/blocktextureatlasesd
*.manifest
Data/Bundles/Bundles
Data/Bundles/Entities/Entities
Data/Bundles/Entities/traders
*.csv
*.nim
*.jpg
*.tts
*.mesh
*.ins
*.png
*.raw
*.ttw
*.7rg
*.aspx
Data/Prefabs/desktop.ini
Data/Bundles/itemicons
Data/Bundles/umaplayer
installscript.vdf
Mono/etc/mono/2.0/Browsers/Compat.browser
serverconfig.bak
steamapps/libraryfolders.vdf
UnityPlayer_Win32_x64_mono.pdb
WindowsPlayer_x64_Master_mono.pdb
Mono/etc/mono/config
Mono/etc/mono/browscap.ini
Mono/etc/mono/2.0/settings.map
config/config.vdf
7DaysToDieServer_Data/Resources/unity_builtin_extra
7DaysToDieServer_Data/
/appcache/
/config/
/Licenses/
/logs/
/Mono/
/Steamapps/
/Data/Bluffs
/Data/Bundles
/Data/Config_backup
/Data/Prefabs
/Data/UMATextures
/Data/Worlds

